@model IEnumerable<GhostGallery.Models.Event.EventListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<button type="button" class="btn btn-outline-secondary">@Html.ActionLink("Create New", "Create")</button>

@foreach (var item in Model)
{

    <div class="card" style="width: 18rem; border: 1px solid black">
        <div class="card-body">
            <h5 class="card-title">@item.EventDate</h5>
            <h6 class="card-subtitle">@item.EventId</h6>
            <p class="card-text">@item.Ghost.Name</p>
            <div class="btn-group-sm" role="group" aria-label="Event Configurations">
                <button type="button" class="btn-secondary">@Html.ActionLink("Edit", "Edit", new { id = item.EventId })</button>
                <button type="button" class="btn-secondary">@Html.ActionLink("Details", "Details", new { id = item.EventId })</button>
                <button type="button" class="btn-secondary">@Html.ActionLink("Delete", "Delete", new { id = item.EventId })</button>
            </div>
        </div>
    </div>

}


