@model IEnumerable<GhostGallery.Models.GhostListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Ghosts</h2>

<p>
    <button type="button" class="btn btn-outline-secondary">@Html.ActionLink("Log Ghost", "Create")</button>
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-4">
            <div class="card" style="width: auto; border: 5px solid darkseagreen; margin-bottom: 5rem; border-radius: 2rem; text-align: center; background-color: gray; color: white;">
                <div class="card-body" style="font-family: Courier New, monospace;">
                    <h5 class="card-subtitle" style="color: black; font-weight: bold; font-family: Times, Times New Roman, serif;">#@item.GhostId, @item.Name</h5>
                    <h6 class="card-title">Type: @item.Type</h6>
                    <h6 class="card-title">First Sighted: @item.FirstSighting</h6>
                    <div class="btn-group" role="group" aria-label="Location Configurations">
                        <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.GhostId })</button>
                        <button type="button" class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.GhostId })</button>
                        <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = item.GhostId })</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>