@model IEnumerable<GhostGallery.Models.LocationListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}



@foreach (var item in Model)
{

    <div class="card" style="width: auto; border: 1px solid black">
        <div class="card-body">
            <h5 class="card-subtitle">#@item.LocationId @item.Name</h5>
            <h6 class="card-title">@item.Address</h6>
            <div class="btn-group-sm" role="group" aria-label="Location Configurations">
                <button type="button" class="btn-secondary">@Html.ActionLink("Edit", "Edit", new { id = item.GhostId })</button>
                <button type="button" class="btn-secondary">@Html.ActionLink("Details", "Details", new { id = item.GhostId })</button>
                <button type="button" class="btn-secondary">@Html.ActionLink("Delete", "Delete", new { id = item.GhostId })</button>
            </div>
        </div>
    </div>
}
